*{
    margin: 0;
    background-color: rgb(172, 170, 133);
}
a{
    text-decoration: none;
}
.nav{
    margin-left: 2%;
    width: 120px;
}
.general{
    transition: 0.3s;
    color: rgb(51, 52, 52);
}
.general:hover{
  transition: 0.3s;
  color:gray;
  text-decoration: underline;
}
.container{
    width: 100%;
    height: 500px;
}
.type{
    text-align: center;
}
hr{
    margin: 0 auto;
}
.undertype{
    width: 30%;
    height: 300px;
    word-wrap: break-word;
}
.photo{
    border-radius: 50px;
    transition: 0.6s;
}
.photo:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.undercontainer{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}